odmc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="DSSC:odmc"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:odmc="DSSC:odmc"
  elementFormDefault="qualified">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="https://www.dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>

  <xs:annotation>
    <xs:documentation>
      Prototyped XML Schema for the Open Data Management and Cloud exam at UniTS.
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="odmcMain" type="odmc:odmcMainType">
    <xs:annotation>
      <xs:documentation>
        Root element of the schema.
      </xs:documentation>
    </xs:annotation>

    <xs:key name="relationId">
      <xs:annotation>
        <xs:documentation>
          Identifier key for recordings, artists and works.
        </xs:documentation>
      </xs:annotation>
      <xs:selector xpath="./odmc:odmcItems/odmc:recording/odmc:ISRC |
                          ./odmc:odmcItems/odmc:artist/odmc:ISNI    |
                          ./odmc:odmcItems/odmc:work/odmc:ISWC"
                          />
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="relationIdref" refer="odmc:relationId">
      <xs:annotation>
        <xs:documentation>
          Identifier keyref for relationType elements.
        </xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//odmc:relationIdentifier/*"/>
      <xs:field xpath="@idref"/>
    </xs:keyref>
  </xs:element>

  <xs:complexType name="odmcMainType">
    <xs:sequence>
      <xs:element name="odmcItems" type="odmc:odmcItemsType">
        <xs:annotation>
          <xs:documentation>
            The body of content. Consists of a list of the defined items.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="provider" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Free text details on the provider of the XML document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="dateLastModified" type="xs:date">
      <xs:annotation>
        <xs:documentation>
          The date of last edition for the current document.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timeLastModified" type="xs:time">
      <xs:annotation>
        <xs:documentation>
          The time of last edition for the current document.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="documentLocation" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          The location at which the current document can be found.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="documentID" type="xs:token">
      <xs:annotation>
        <xs:documentation>
          A unique identifier for the current document.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="odmcItemsType">
    <xs:annotation>
      <xs:documentation>
        Provides the sequence of available items.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="recording" type="odmc:recordingType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Models a recording, a unique version of a song.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="artist" type="odmc:artistType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Models an artist (musician, group of musicians and professional figures).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="work" type="odmc:workType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Models a song as an intellectual creation, the one declined in the various recordings.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="release" type="odmc:releaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Models a commercial issue of one or more works.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  
  
  <!-- ENTITIES METADATA TYPES-->

  <xs:complexType name="recordingType">
    <xs:sequence>
      <xs:element name="ISRC" type="odmc:ISRC_Id">
        <xs:annotation>
          <xs:documentation>
            International Standard Recording Code, a unique identifier for a recording defined by ISO 3901:2001.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="odmc:titleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
      <xs:element name="duration" type="xs:duration"></xs:element>
      <xs:element name="place" type="odmc:placeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Place where the recording was recorded.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasArtist" type="odmc:relationType" minOccurs="1" maxOccurs="unbounded"></xs:element>
      <xs:element name="isPerformanceOf" type="odmc:relationType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Relation to the work whose performance the current recording refers to.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="odmc:descriptionType" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="audioFile" type="odmc:audioFileType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Audio content of the recording.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="placeType">
    <xs:annotation>
      <xs:documentation>
        A studio, venue or other place where the music is recorded.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element name="type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Describes the place primary function (e.g., recording studio, religious building).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address" type="xs:string"></xs:element>
      <xs:element name="description" type="odmc:descriptionType" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="artistType">
    <xs:sequence>
      <xs:element name="ISNI" type="odmc:ISNI_Id">
        <xs:annotation>
          <xs:documentation>
            International Standard Name Identifier, a unique identifier for public entities of contribution in media content defined by ISO 27729.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="odmc:titleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
      <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            States whether the artist is an individual person, a group, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="odmc:descriptionType" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="workType">
    <xs:sequence>
      <xs:element name="ISWC" type="odmc:ISWC_Id">
        <xs:annotation>
          <xs:documentation>
            International Standard musical Work, a unique identifier for a musical work defined by ISO 15707.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="odmc:titleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
      <xs:element name="hasArtist" type="odmc:relationType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Identifies an artist who contributes to the work.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasPerformance" type="odmc:relationType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Identifies a performance (that is, a recording) of the work.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasRelatedWork" type="odmc:relationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Identifies related works.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="odmc:descriptionType" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="releaseType">
    <xs:sequence>
      <xs:element name="title" type="odmc:titleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
      <xs:element name="catalogueNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Catalogue number for the release (depends on the label).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasArtist" type="odmc:relationType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Identifies an artist who contributes to the release.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="label" type="odmc:labelType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Identifies the label (usually imprints).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTrack" type="odmc:relationType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Relation with tracks part of the release.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="odmc:descriptionType" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="labelType">
    <xs:annotation>
      <xs:documentation>
        Details information about a label.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="odmc:titleType" minOccurs="1" maxOccurs="unbounded"></xs:element>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="imprint"/>
            <xs:enumeration value="producer"/>
            <xs:enumeration value="distributor"/>
            <xs:enumeration value="holding"/>
            <xs:enumeration value="rights society"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="labelCode" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  
  

  <!-- DESCRIPTIVE METADATA TYPES -->

  <xs:complexType name="titleType">
    <xs:annotation>
      <xs:documentation>
        The name given to a certain item/resource.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="dc:title" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The titleType is built as a refinement of Dublin Core dc:title. Languages and notes can be provided.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="lang" type="xs:language"></xs:attribute>
    <xs:attribute name="note" type="xs:string"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="descriptionType">
    <xs:annotation>
      <xs:documentation>
        Free-form text providing general notes for an item. Descriptions can be provided in different languages.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="dc:description" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The descriptionType is built as a refinement of Dublin Core dc:description. The type of the description (e.g., summary, abstract) can be provided using the note attribute.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributor" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Identifies the source of the description.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="lang" type="xs:language"></xs:attribute>
    <xs:attribute name="note" type="xs:string"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="relationType">
    <xs:annotation>
      <xs:documentation>
        Models relations between items providing an identifier for the related item. Resources can be identified by a title (in accordance with Dublin Core) or, preferably, by a unique ID.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The relationType is built as a refinement of Dublin Core dc:relation. This choice accepts a title to identify the related item.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relationIdentifier" type="odmc:relationIdentifierType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This choice accepts one of the defined unique identifiers to identify the related item.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attributeGroup ref="odmc:relationAttributes"/>
  </xs:complexType>

  <xs:complexType name="relationIdentifierType">
    <xs:annotation>
      <xs:documentation>
        Defines a series of resource identifiers, in accordance with different ISO standards.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="dc:identifier">
        <xs:annotation>
          <xs:documentation>
            The relationIdentifierType is built as a refinement of Dublin Core dc:identifier.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISNI" type="odmc:ISNI_IdRef"></xs:element>
      <xs:element name="ISRC" type="odmc:ISRC_IdRef"></xs:element>
      <xs:element name="ISWC" type="odmc:ISWC_IdRef"></xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:attributeGroup name="relationAttributes">
    <xs:annotation>
      <xs:documentation>
        Group of attributes to label and describe relations. Attributes for track numbering are provided.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="label" type="xs:string"></xs:attribute>
    <xs:attribute name="description" type="xs:string"></xs:attribute>
    <xs:attribute name="runningOrderNumber" type="xs:int"></xs:attribute>
    <xs:attribute name="totalOrderNumber" type="xs:int"></xs:attribute>
    <xs:attribute name="note" type="xs:string"></xs:attribute>
  </xs:attributeGroup>
  
  
  
  <!-- IDs AND IDREFs -->

  <xs:complexType name="ISNI_Id">
    <xs:attribute name="id" type="odmc:ISNIType" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="ISNI_IdRef">
    <xs:attribute name="idref" type="odmc:ISNIType" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="ISNIType">
    <xs:annotation>
      <xs:documentation>
        International Standard Name Identifier, a unique identifier for public entities of contribution in media content defined by ISO 27729.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:pattern value="ISNI_[0-9]{16}"/>
    </xs:restriction>
  </xs:simpleType>
  

  <xs:complexType name="ISRC_Id">
    <xs:attribute name="id" type="odmc:ISRCType" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="ISRC_IdRef">
    <xs:attribute name="idref" type="odmc:ISRCType" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="ISRCType">
    <xs:annotation>
      <xs:documentation>
        International Standard Recording Code, a unique identifier for a recording defined by ISO 3901:2001.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:pattern value="ISRC_([a-zA-Z]{5})([0-9]{7})"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="ISWC_Id">
    <xs:attribute name="id" type="odmc:ISWCType" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="ISWC_IdRef">
    <xs:attribute name="idref" type="odmc:ISWCType" use="required"></xs:attribute>
  </xs:complexType>
  
  <xs:simpleType name="ISWCType">
    <xs:annotation>
      <xs:documentation>
        International Standard musical Work, a unique identifier for a musical work defined by ISO 15707.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:pattern value=  "ISWC_T-([0-9]{3}).([0-9]{3}).([0-9]{3})-([a-zA-z])"/>
    </xs:restriction>
  </xs:simpleType>

  
  
  <!-- TECHNICAL METADATA TYPES -->
  
  <xs:complexType name="fileType" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Abstract type for files, provides generic information.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileName" type="odmc:titleType" minOccurs="1"></xs:element>
      <xs:element name="fileSize" type="odmc:dimensionType" minOccurs="1"></xs:element>
      <xs:element name="locator" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Address for the resource. A URI that can be expressed, for instance, as a file path or and URL.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="fileID" use="required" type="xs:ID">
      <xs:annotation>
        <xs:documentation>
          A unique identifier for the file resource.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:attributeGroup name="fileFormatAttributes">
    <xs:attribute name="formatID" use="required" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>
          Unique identifier for file formats.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="formatVersion" use="required" type="xs:string"></xs:attribute>
    <xs:attribute name="formatName" use="required" type="xs:string"></xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="audioFileType">
    <xs:annotation>
      <xs:documentation>
        Provides a set of technical metadata for audio files.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:annotation>
        <xs:documentation>
          The audioFileType is implemented as an extension of fileType.
        </xs:documentation>
      </xs:annotation>
      <xs:extension base="odmc:fileType">
        <xs:sequence>
          <xs:element name="hash" type="odmc:hashType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Audio fingerprinting information, can uniquely identify an audio file and can be used for file integrity.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="bitRate" type="odmc:dimensionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Sampling frequente for the audio file.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="audioFormat" type="odmc:audioFormatType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Provides detail on the audio format.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="audioFormatType">
    <xs:annotation>
      <xs:documentation>
        Provides a set of technical metadata for audio format files.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codec" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Identifies the instrument/software used for the audio encoding.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="compressedFlag" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Boolean flag to mark compressed audio files.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="losslessFlag" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Boolean flag to mark lossless audio files.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="odmc:fileFormatAttributes"/>
  </xs:complexType>

  <xs:complexType name="dimensionType">
    <xs:annotation>
      <xs:documentation>
        Extension of xs:nonNegativeInteger, adding a unit attribute.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attribute name="unit" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="hashType">
    <xs:annotation>
      <xs:documentation>
        Specifies the information of an audio fingerprint, listing the hash value and the hash function used to obtain it.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hashValue" type="xs:hexBinary" minOccurs="1"></xs:element>
      <xs:element name="hashFunction" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>
  


</xs:schema>
